.experience-text {
    text-align: center;
    color: var(--secondary-color);
    font-size: 33px;
    margin-top: 35px;
}
@media only screen and (max-width: 1169px) {
    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
      visibility: visible;
      -webkit-animation: none !important;
      -moz-animation: none !important;
      animation: none !important;
    }
  }