.header-mobile {
    right: 0;
    position: absolute;
    min-width: 40vw;
    max-width: 400px;
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--other3-color);
}

.header-mobile > a {
    text-decoration: none;
    font-size: 21px;
    color: #FFF;
    padding: 10px;
}

.header-mobile > a:nth-child(2) {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}

.header-mobile > a:visited {
    color: #FFF;
}

.header-mobile > a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
    transition: color 350ms;
}

.header-mobile > a:active {
    color: var(--secondary-color);
}
