.headerButton {
    background: transparent;
    display: block;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 12px;
}
.headerButton:hover {
    background-color: #ddd;
    color: black;
}
.headerButton i {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }