.headerLinks {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerLinks > a {
    text-decoration: none;
    font-size: 19px;
    color: #FFF;
}

.headerLinks > a:visited {
    color: #FFF;
}

.headerLinks > a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
}

.headerLinks > a:active {
    color: var(--secondary-color);
}

@media screen and (max-width: 575px) {
    .headerLinks {
        flex-direction: column;
    }
}