.headerButton {
    background: transparent;
    display: block;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 12px;
    border: none;
}
.headerButton:focus {
    outline:none;
}
.headerButton::-moz-focus-inner {
    border:0;
}
.headerButton i {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 100;
    font-size: 27px;
    display: block;
    cursor: pointer;
}
.headerButton > .fa-angle-right {
    font-size: 50px;
    padding: 2px 16px;
}
.headerButton i.fa-angle-right:hover {
    transition: 0.5s;
    right: 0;
    color: var(--secondary-color);
}