.home-img {
    background-image: url("../../assets/img/04.jpg");
    min-height: 100vh;
    border-bottom: solid 2px var(--other3-color);
    background-color: var(--other3-color);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
