.languages {
    height: 497px;
    max-width: 100vw;
    background-color: var(--tertiary-color);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.languages img {
    max-width: 100%;
}