.responsivety {
    height: 400px;
    background-color: #fff;
}
.responsivety-text {
    display:flex;
    justify-content: center;
}
.responsivety-imgs {
    height: 230px;
    display:flex;
    justify-content: center;
    align-items: center;
}
