.responsivety {
    height: 300px;
    background-color: #fff;
}
.responsivety-text {
    color: var(--other3-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.responsivety-imgs {
    height: 230px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.responsivety-imgs div img {
    max-width:100%;
    height:auto;
}